<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion d'Événements</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Gestion d'Événements</h1>
        <img src="{% static 'images/logo.jpeg' %}" alt="Logo" class="logo">
        
        <nav>
            <a href="{% url 'home' %}"><i class="fas fa-home"></i> Accueil</a>
            <a href="{% url 'inscri_event' %}"><i class="fas fa-user-plus"></i> Inscription à des événements</a>
             <a href="{% url 'notifications' %}"><i class="fas fa-bell"></i> Notifications</a>
            <a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> À Propos</a>
        </nav>
    </header>
    
    <div class="hero">
        <h1 class="text">Créez des événements mémorables</h1>
    </div>

    <section class="events">
        {% for evenement in evenements %}
        <div class="event-card">
            <h2>{{ evenement.titre }}</h2>
            <p>Date Début: {{ evenement.date_debut|date:"d F Y" }}</p>  <!-- Formate la date -->
            <p>Date Fin: {{ evenement.date_fin|date:"d F Y" }}</p>
            <p>{{ evenement.description }}</p>
        </div>
        {% endfor %}
    </section>

    <footer>
        <p>&copy; 2024 Gestion d'Événements. Tous droits réservés.</p>
    </footer>
</body>
</html>
